<div class="container" *ngIf="load" >
  <h2 class="title">Contactar prospecto</h2>
  <div  class="card-person">
     <div class="person-photo">
        <img title="foto-perfil" class="person-photo-img" src={{client.fotoUrl}} >
     </div>
     <div class="person-data">
        <p class="lb-name">{{client.nombre}}</p>
        <p class="lb-cellphone">{{client.celular}}</p>
        <p class="lb-email">{{client.email}}</p>
     </div>
  </div>
  <div>
     <label>Contactar por: </label>
     <select class="form-select" aria-label=".form-select-lg example">
       <!-- <option selected>Seleccione un medio de contacto</option>-->
        <option value="3">{{client.email}}</option>
     </select>
  </div>

   <textarea class="form-control" cols="34" rows="10"  [value]="mensaje" (input)="onValueChange($event)" placeholder="mensaje"></textarea>

  <div class="actions">
    <button  type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    <button  type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
  </div>
</div>
