
<div class="row" *ngIf="load" >
  <div class="column col-lg-3">
    <div class="card" >
      <div class="card-header" style="background-color: #5a6268;"> <label class="card-title">PROSPECTO ENTRANTE</label> </div>
      <app-card-prospecto [listaDatos] = this.listaProspectos></app-card-prospecto>
        <label class=""></label>
    </div>
  </div>
  <div class="column col-lg-3">
    <div class="card" >
      <div class="card-header" style="background-color: #ffc107;"> <label class="card-title">CONTACTADOS</label> </div>
      <app-card-contactado [listaDatos] = this.listaContactados></app-card-contactado>
        <label class=""></label>
    </div>
  </div>
  <div class="column col-lg-3">
    <div class="card" >
      <div class="card-header" style="background-color: #0069d9;"> <label class="card-title">CLIENTES</label> </div>
      <app-card-cliente [listaDatos] = this.listaClientes></app-card-cliente>
        <label class=""></label>
    </div>
  </div>
  <div class="column col-lg-3">
    <div class="card" >
      <div class="card-header"  style="background-color: #28a745; color: white;"> <label class="card-title">CLIENTES RECURRENTES</label> </div>
      <app-card-cliente-recurrente [listaDatos] = this.listaRecurrentes></app-card-cliente-recurrente>
        <label class=""></label>
    </div>
  </div>
</div>


<div class="container" *ngIf="!load" >
  <div class="row">
    <div id="loader">
        <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>
  </div>
</div>